---
HOSTS:
  certs.local:
    platform: alpine-3.8-x86_64
    hypervisor: docker
    dockerfile: spec/acceptance/nodesets/docker/CertsDockerfile
    tag: certs
  vault.local:
    platform: alpine-3.8-x86_64
    hypervisor: docker
    dockerfile: spec/acceptance/nodesets/docker/VaultDockerfile
    roles:
      - vault
  puppetserver.local:
    platform: ubuntu-1604-x86_64 
    hypervisor: docker
    dockerfile: spec/acceptance/nodesets/docker/PuppetserverDockerfile
    roles:
      - master
CONFIG:
  nfs_server: none
  consoleport: 443
  log_level: verbose
  validate: false
  configure: false
